* {
    box-sizing: border-box;
}

#gameWindow {
    position: relative;
    width: 1000px;
    height: 800px;
    background-color: gray;
    border: 1px solid black;
}

.pieceGroup {
    position: absolute;
    width: 20px;
    height: 100px;
    border: 1px solid black;
}

.colorRed {
    background-color: red;
    top: 20%;
    left: 20%;
}

.colorBlue {
    background-color: blue;
    top: 20%;
    left: 80%;
}

.miniPieceGroup {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 1px solid black;
}

.dropZoneGroup {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    border: 1px solid black;
}
.dropTarget {
    background-color: wheat;
}

.movingBoard {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid black;
}

#leftBoard {
    top: 50%;
    left: 30px;
}
#rightBoard {
    top: 50%;
    right: 30px;
}

#commandBox {
    display: flex;
}

#save {
    width: 250px;
    height: 100px;
    background-color: gold;
}

.saveSlot,
.loadSlot,
.clearSlot {
    width: 100%;
    height: 50%;
    border: 1px solid black;
}
.scoreSlot {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

#load {
    width: 250px;
    height: 100px;
    background-color: palegreen;
}

#clear{
    width: 250px;
    height: 100px;
    background-color: silver;
}

#score{
    display: flex;
    width: 250px;
    height: 100px;
    background-color: violet;
}

.scoreSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scoreSlot span {
    font-size: 36px;
}

#boll {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: blue;
}

#messageWindow {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-color: violet;
}

